
body
    font-family: 'Acumin Pro';
    font-weight: normal;

    
.login-section
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // flex-direction: column;

    h1
        color: #ffffff;
    
    p
        color: #b3caec;

.login-form
    width: 80%;

    form 
        margin-top: 25%;

        .group
            input
                width: 100%;   


.reset
    margin-top: 15%;
    margin-bottom: 5%;
   
    a
        color: #72a8e4
    button
        background-color: #f9fdff;
        padding: 3% 12%;
        border-radius: 100px;
        margin: 0 5%;

        svg, i
            color: #247ed4;
    
    span
        color: #ffffff;

#register
    a
        color: #95c5ec !important;



.detail-section
    background-color: #f9fdff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p 
        color: #277bdd;
    
    .speak
        display: flex

        #audio-waves
                width: 13vh;
                display: flex;
                justify-content: flex-end;

        #microphone-outer-ring
                border: 1px solid #9ac9fd;
                padding: 5px;
                border-radius: 50%;
                display: inline-table;
                margin-top: 25px;
                margin-left: 100px;

                #microphone-inner-ring
                        border: 1px solid #9ac9fd;
                        padding: 5px;
                        border-radius: 50%;

        button
            padding: 20px!important;
            width: 70px;
            border-color: #277bdd;
            border-radius: 50% !important;
            height: 70px;
            background-color: #ffffff;
        
        button:hover
            background-color: #f9fdff;
            // border-color: #477db3c2;
            border-color: #a2c8f1;

        button:active
            background-color: none;

        i
            font-size: 30px !important;
            color: #667a8b;


  